.App {
  text-align: center;
}


body {
  background-color: #880e4f;
  padding-bottom: 60px;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.search-icon{
  color: black
}
.App-link {
  color: #61dafb;
}
.collection-item {
  margin-bottom: 50px;
  margin-right: 50px;
  height: auto;
  width: 500px;
  border-radius: 10px;
}

.collection {
  border-color: #880e4f;
  display: flex;
  flex-wrap: wrap;
}
.input-field [type="search"]{
  border-radius: 100px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 80px;
  line-height: 0%;
  
}
.footer-a{
  height: 80px;
}